<% include ./partials/header %>

<% data.forEach(function(game) { %>

    <div id="jumbotron-container">
        <div id="jumbotron-background" style="background-image: url(<%= jumbotron %>);">
        
        </div>
    </div>

    <div class="container" id="game_container">
        <div class="row">
        <aside class="col-sm-auto" id="sidebar">
            <div id="game_cover">
                <img src="<%= image %>" id="cover">
            </div>
            
            <!--<p class="text-center">About</p>-->
            
            <hr>
            <!-- Show release date -->
            <% if(game.first_release_date !== undefined) { %>
                <% var d = new Date(game.first_release_date); %>
                <p><strong>Released in:</strong><br> <%= d.toISOString().split("T")[0]; %></p>
            <% } %>
            <% if(game.first_release_date === undefined) { %>
                <p><strong>Released in:</strong><br>N/A</p>
            <% } %>

            <!-- Show developer -->
            <% if(game.developers !== undefined) { %>
                <p><strong>Developed by:</strong><br>
                    <% for(var i = 0; i < game.developers.length; i++) { %>
                        <%=game.developers[i].name%> <br>
                    <% } %>
                </p>
            <% } %>
            <% if(game.developers === undefined) { %>
                <p><strong>Developed by:</strong><br>N/A</p>
            <% } %>
            
            <!-- Show genre -->
            <% if(game.genres !== undefined) { %>
                <p><strong>Genre:</strong><br> <%=game.genres[0].name%></p>
            <% } %>
            <% if(game.genres === undefined) { %>
                <p><strong>Genre:</strong><br>N/A</p>
            <% } %>

            <!-- Show user rating -->
            <% if(game.rating !== undefined) { %>
                <p><strong>User rating:</strong><br> <%= game.rating.toFixed(0) %>/100</p>
            <% } %>
            <% if(game.rating === undefined) { %>
                <p><strong>User rating:</strong><br>N/A</p>
            <% } %>

            <!-- Show critic rating -->
            <% if(game.aggregated_rating !== undefined) { %>
                <p><strong>Critic rating:</strong><br> <%= game.aggregated_rating.toFixed(0) %>/100</p>
            <% } %>
            <% if(game.aggregated_rating === undefined) { %>
                <p><strong>Critic rating:</strong><br>N/A</p>
            <% } %>

            <!-- Show pegi rating -->
            <% if(game.pegi !== undefined) { %>
                <p><strong>PEGI:</strong><br> <%= game.pegi.rating %></p>
            <% } %>
            <% if(game.pegi === undefined) { %>
                <p><strong>PEGI:</strong><br>N/A</p>
            <% } %>

            <!-- Show esrb rating -->
            <% if(game.esrb !== undefined) { %>
                <p><strong>ESRB: </strong><br> <%= game.esrb.rating %></p>
            <% } %>
            <% if(game.esrb === undefined) { %>
                <p><strong>ESRB: </strong><br>N/A</p>
            <% } %>
        </aside>
        
        <section class="col-sm" id="main-content">
        <div id="game-title-container">
            <div id="game-title-wrapper">
                <h2 id="game-title"><%= game.name %></h2>
            </div>
        </div>
            
        <div id="game-description-container">
            <h3>Summary</h3>
            <p><%= game.summary %></p>
            
            <hr>
            
            <% if(game.videos !== undefined) { %>
            <div class="container">
                <div class="row">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe 
                            src="https://www.youtube.com/embed/<%= game.videos[0].video_id %>" allowfullscreen>
                        </iframe>
                    </div>
                </div>
            </div>
            <% } %>
        </div>    

        </section>
        </div>
    <section class="container">
        <div class="row" id="suggestions">
            <h3>You'll might also like</h3>
            <div class="owl-carousel">
                <% for(var i = 0; i < game.games.length; i++) { %>
                    <% if(game.games[i].cover !== undefined) { %>
                        <div class="card">
                            <div class="crop item">
                                <a href="/results/<%= game.games[i].id %>">
                                    <img src="<%= covers[i] %>">
                                    <div class="overlay">
                                        <h3 class="overlay-text">Read more</h3>
                                    </div>
                                </a>
                            </div>
                            <div class="card-body">
                                <p class="card-text"><%= game.games[i].name %></p>
                            </div>
                        </div>
                    <% } %>
                <% } %>
            </div>
        </div>
    </section>
    </div>
<% }); %>

<% include ./partials/footer %>

